/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Hace que las dimensiones incluyan bordes y rellenos */
   
}



/* Fuente Tipográfica Externa */
/*
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body {
    /*font-family: "Merienda", cursive;*/
    font-family: "Playfair Display", serif;
    background-color: black;
}


