@use "../bases/operaciones.scss" as op;

footer{
    border: 2px solid #ddd;
    background-color: op.$footer-fondo;
    height: 250px;
    width: 100%;
   
    .logo-face{
        display: flex;
        justify-content: end;
    }
  
    img{
        width: 30px;
        height: 30px;
    }

    .whatsapp{
        position: fixed;
        text-align: end;
        bottom: 10px;  
        img{
            margin-right: 20px;
            width: 60px;
            height: 60px;
        }
    }
}