@use '../bases/operaciones' as op;

header {
    .menu {
        display: block;
        width: 100%;
        height: 90px;
        position: fixed;
        z-index: 1;
        background:linear-gradient(op.$navbar-fondo);

        div {
            a {
                img {
                    width: 70px;
                    height: 70px;
                    border-radius: 20px;
                    object-fit: cover;
                }
            }
        }
    }
}

/* Textos */
.navbar-nav {
    .nav-item {
        .nav-link {
            font-size: 17px;
            color: white;
            margin: 10px;
            transition: 1s;
           

            &:hover {
                color:rgb(179, 113, 113);
                //color: #d1cbc0;
                
            }
        }
    }
}

.form-control{
    @include op.form-control(rgb(179, 113, 113));
}

.btn-outline {
    @include op.btn-outline(rgb(179, 113, 113));
}